{% extends "base.html" %}

{% block content %}
    <h1>Reset Password</h1>
	<p>Please enter the email address you registered with</p>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.email.label }}<br>
            {{ form.email(size=30) }}<br>
            {% for error in form.email.errors %}
            <span class="text-danger">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}